*.json

# Do not ignore pre-generated json files to determine model mismatch
!traj_circle_r1_f0dot3_cw.json
!traj_circle_r1_f0dot3_ccw.json
!traj_lemniscate_r1_f0dot3_cw.json
!traj_lemniscate_r1_f0dot3_ccw.json

# Do not ignore the pre-generated json files to calibrate rho_c, w_bar_c, and epsilon
!2025-08-08_gaz_falcon_calibrate_rho_c.json
!2025-08-08_gaz_falcon_calibrate_w_bar_c_epsilon_circle_r1_f0dot3_cw.json
!2025-08-08_gaz_falcon_calibrate_w_bar_c_epsilon_circle_r1_f0dot3_ccw.json
!2025-08-08_gaz_falcon_calibrate_w_bar_c_epsilon_lemniscate_r1_f0dot3_cw.json
!2025-08-08_gaz_falcon_calibrate_w_bar_c_epsilon_lemniscate_r1_f0dot3_ccw.json

# Do not ignore the pre-generated json files to analyze the ROHMPC framework
!2025-08-08_gaz_falcon_rohmpc.json
